//----------------------------------------------------//
// FONTS                                              //
//----------------------------------------------------//


@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa-Bold.woff2') format('woff2'),
  url('../fonts/Nexa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

