//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont: 'Open Sans', sans-serif;;
$mainFontSize: 18px;
$mainFontHeight: 24px;
$mainFontWeight: 400;
$mainFontColor: #000;

$secondFont:  'Raleway', sans-serif;;
$secondFontSize: 14px;
$secondFontHeight: 22px;
$secondFontWeign: 400;
$secondFontColor: #24282f;
//
//$fixFont: Verdana;
//$fixFontSize: 14px;
//$fixFontHeight: 24px;

// Variables => Colors
//----------------------------------------------------//
$default: #b5a263;
$fixColor: #fff;
