@@include('template/layout/header.html')

	<main class="content">

		<section class="baner">
			<div class="container">
				<h1>More About US</h1>
			</div>
		</section>
		<section class="management">
			<div class="container">
				<div class="wrap">
					<h2>Management</h2>
					<div class="management_line management_line-def"></div>
					<div class="management_list">
						<div class="management_item">
							<div class="management_img">
								<img src="img/pic_1.png" alt="photo" class="img_fl">
							</div>
							<div class="management_block">
								<div class="management_pos">
									<div class="management_name">Courteney Cox</div>
									<div class="management_prof">Marketing Manager</div>
								</div>
								<div class="icon">
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-facebook-f"></i></a>
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-twitter"></i></a>
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-google-plus-g"></i></a>
								</div>
							</div>
						</div>
						<div class="management_item">
							<div class="management_img">
								<img src="img/pic_2.png" alt="photo" class="img_fl">
							</div>
							<div class="management_block">
								<div class="management_pos">
									<div class="management_name">Matt LeBlanc</div>
									<div class="management_prof">Finance Manager</div>
								</div>
								<div class="management_icon">
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-facebook-f"></i></a>
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-twitter"></i></a>
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-google-plus-g"></i></a>
								</div>
							</div>
						</div>
						<div class="management_item">
							<div class="management_img">
								<img src="img/pic_3.png" alt="photo" class="img_fl">
							</div>
							<div class="management_block">
								<div class="management_pos">
									<div class="management_name">David Schwimmer</div>
									<div class="management_prof">Creative Director</div>
								</div>
								<div class="management_icon">
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-facebook-f"></i></a>
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-twitter"></i></a>
									<a href="#" class="icon_span icon_span-gr"><i class="fab fa-google-plus-g"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="management_link">
						<a href="#" class="btn_show">Show All</a>
					</div>
				</div>
			</div>
		</section>
		<section class="what">
			<div class="container">
				<div class="wrap">
					<h2>WHAT OUR CLIENTS SAY</h2>
					<div class="management_line management_line-fix"></div>
					<div class="slider">
						<div>
							<div class="slider_wrap">
								<div class="slider_img">
									<img src="img/pic_4.png" alt="photo" class="img_fl">
								</div>
								<p class="slider_text">Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
								<div class="slider_name">Larry Jane</div>
								<div class="slider_prof">General Manager</div>
							</div>
						</div>
						<div>
							<div class="slider_wrap">
								<div class="slider_img">
									<img src="img/pic_1.png" alt="photo" class="img_fl">
								</div>
								<p class="slider_text">Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
								<div class="slider_name">Larry Jane</div>
								<div class="slider_prof">General Manager</div>
							</div>
						</div>
						<div>
							<div class="slider_wrap">
								<div class="slider_img">
									<img src="img/pic_4.png" alt="photo" class="img_fl">
								</div>
								<p class="slider_text">Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
								<div class="slider_name">Larry Jane</div>
								<div class="slider_prof">General Manager</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main><!-- MAIN CONTENT [END] -->

@@include('template/layout/footer.html')
 