

	<!-- FOOTER -->
	<footer class="footer">
		<div class="container">
			<div class="wrap">
				<div class="footer_row">
					<div class="footer_col">
						<h5>ABOUT FAPOR</h5>
						<p>We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.</p>
					</div>
					<div class="footer_col">
						<h5>Contact INFO</h5>
						<address>PO Box 17122 Nollins Street
							5034 Los Angelos
						</address>
						<a href="tel:+1800555.0658" class="footer_link">Phone: 1800555.0658</a>
						<a href="mailto:support@fapor.com" class="footer_link">Email: support@fapor.com</a>
						<a href="mailto:fapor.com" class="footer_link">Web: fapor.com</a>
					</div>
					<div class="footer_col">
						<form action="#" class="comment_form">
							<h5>Subscribe to our newsletter</h5>
							<input type="email" id="email" placeholder="Enter your email address" required autocomplete="off">
							<input type="submit" value="SUBSCRIBLE NOW">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="container">
			<div class="wrap">

				<div class="copyright">&copy; 2016  Fapor by Respotheme</div>
				<div class="icon">
					<a href="#" class="icon_span icon_span-tr"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="icon_span icon_span-tr"><i class="fab fa-twitter"></i></a>
					<a href="#" class="icon_span icon_span-tr"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="icon_span icon_span-tr"><i class="fab fa-dribbble"></i></a>
				</div>
			</div>
			</div>

		</div>
	</footer><!-- FOOTER END -->
	<!-- Scripts load -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="js/script.js"></script>

	</body>
</html>